.calendarViewContainer {
  padding: 0 40px;
}
.calendarViewHeader {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
  padding: 50px 20px 0 0;
}
.calendarViewHeader > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.calendarViewHeader > div:first-of-type {
  background-color: var(--primary-text);
}
.calendarViewHeader > div:last-of-type {
  background-color: var(--blue-bg);
}
.calendarHeader {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-weight: bold;
}
.calendar {
  display: flex;
  justify-content: space-between;
  font-size: small;
  color: rgba(0, 0, 0, 0.6);
}
.calendar > div {
  text-align: center;
}
.date {
  font-weight: 600;
  font-size: medium;
  color: rgba(0, 0, 0, 0.7);
  margin: 3px 0;
}
.time > p {
  margin-bottom: 5px;
}
.scheduleContainer {
  display: flex;
  gap: 30px;
  margin: 10px 0;
}
.dentist,
.physiotherapy {
  flex-grow: 1;
  padding: 15px 10px;
  border-radius: 15px;
}
.scheduleHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.dentist {
  background-color: var(--blue-bg);
  color: white;
}
.pTag {
  font-size: x-small;
}
.physiotherapy {
  background-color: rgba(135, 207, 235, 0.24);
}
